{% extends 'base.html' %}
{% block content %}
<h1>My details</h1>
{% with messages = get_flashed_messages(with_categories=true) %}
{% if messages %}
{% for category, message in messages %}
<div class="alert alert-{{ category }}" role="alert">{{ message }}</div>
{% endfor %}
{% endif %}
{% endwith %}

<div class="container-fluid well span6">
    <div class="row-fluid">
        <div class="col-md-4"></div>
        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-body text-left">
                    <div class="row">
                        <div class="col-md-12 ">
                            <center>
                                <img class="media-object dp img-rounded"
                                     src="/avatar/{{ user.avatar_hash }}?s=180&rand={{ random }}"
                                     style="width: 180px;height:180px;">
                            </center>
                        </div>
                        <div class="col-md-12">

                            <h2>{{ user.first_name }} {{ user.last_name }}</h2>
                            <p>{{ user.title }}</p>
                            <p><i class="glyphicon glyphicon-envelope">&nbsp;</i>{{ user.email }} </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <h3>Upload a new picture</h3>
            <p><b>Square image dimensions strongly recommended!</b> Images will be squared from the center and trimmed
                along the longest edge. Keep in mind that some apps display avatars in a circular frame which might
                crop it even further.</p>
            <div class="fileinput fileinput-new" data-provides="fileinput">
                <form method="post" action="/upload_image" enctype="multipart/form-data">
                    <div class="fileinput-new thumbnail" style="width: 180px; height: 180px;">
                        <img data-src="holder.js/100%x100%">
                    </div>
                    <div class="fileinput-preview fileinput-exists thumbnail"
                         style="max-width: 180px; max-height: 180px;"></div>
                    <div>
                        <span class="btn btn-default btn-file"><span class="fileinput-new">Choose image</span><span
                                class="fileinput-exists">Change</span><input type="file" name="file"
                                accept="image/png,image/jpeg,image/gif"></span>
                        <button type="submit" class="btn btn-default">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
